@font-face {
	font-family: 'saira';
	src: url('./JetBrainsMono[wght].ttf');
	font-display: swap;
}

html {
	height: 100%;
	
	font-family: monospace;
	font-family: 'saira', -apple-system, sans-serif;
	font-weight: 400;
}

h1 {
	margin: 0;
	margin-bottom: 2rem;
	padding: 0.5rem 1rem;
	font-size: 3rem;
	background-color: hsla(0,0%, 0%, 0.6);
	color: white;
	font-weight: 254;
	letter-spacing: 0.037em;
}

h2 {
	font-weight: 550;
	text-transform: uppercase;
}

body {
	padding: 2rem 2rem;
	/* SET IN JS NOW */
	background-repeat: repeat;
	background-blend-mode: difference;
	background-color: hsla(216, 100%, 97.1%);
}

a {
	margin-right: 0.25em;
}

/* @media (fprefers-color-scheme: dark) {
	body {
		background-color: hsl(0, 0%, 7%);
		color: hsl(0, 0%, 84%);
	}
	a {
		color: lightblue;
	}
	a:visited {
		color: hsl(275.8, 100%, 76.7%);
	}
}

 */