@font-face {
	font-family: 'thefont';
	src: url('./font/Arame.woff2');
	font-display: swap;
}

html {
	height: 100%;
	
	font-family: monospace;
	font-family: 'thefont', -apple-system, sans-serif;
	font-weight: 400;
}

h1 {
	margin: 0;
	margin-bottom: 2rem;
	padding: 0.5rem 1rem;
	font-size: 3rem;
	background-color: hsla(0,0%, 0%, 0.6);
	color: white;
	font-weight: 254;
	letter-spacing: 0.08em;
}

main {
	padding-left: 1rem;
	font-size: 18px;
	letter-spacing: 0.053em;
}

h2 {
	font-weight: 500;
	text-transform: uppercase;
	color: hsl(0,0%,20%);
}

body {
	padding: 2rem 2rem;
	/* SET IN JS NOW */
	background-repeat: repeat;
	background-blend-mode: difference;
	background-color: hsla(216, 100%, 97.1%);
}

a {
	margin-right: 0.25em;
}

a:hover {
	background-color: hsla(0,0%, 0%, 0.6);
	color: lightblue;
}

a:visited:hover {
	color: hsl(275, 100%, 86%);
}

a:active{
	background-color: black;
}

/* @media (fprefers-color-scheme: dark) {
	body {
		background-color: hsl(0, 0%, 7%);
		color: hsl(0, 0%, 84%);
	}
	a {
		color: lightblue;
	}
	a:visited {
		color: hsl(275.8, 100%, 76.7%);
	}
}

 */